In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./fitness_tracker_dataset_dirty.csv", encoding="utf-8")

In [3]:
df.head()

,user_id,timestamp,cumulative_steps,heart_rate,calories_burned,activity_type
0,1,2025-04-10 00:00:00,0,57,25.23,resting
1,1,2025-04-10 01:00:00,0,52,0.58,resting
2,1,2025-04-10 02:00:00,0,60,17.07,resting
3,1,2025-04-10 03:00:00,0,51,15.10,resting
4,1,2025-04-10 04:00:00,0,64,35.45,resting

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           370 non-null    int64
 1   timestamp         370 non-null    object
 2   cumulative_steps  370 non-null    int64
 3   heart_rate        370 non-null    int64
 4   calories_burned   360 non-null    float64
 5   activity_type     370 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 17.5+ KB

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 360 entries, 0 to 369
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           360 non-null    int64
 1   timestamp         360 non-null    object
 2   cumulative_steps  360 non-null    int64
 3   heart_rate        360 non-null    int64
 4   calories_burned   350 non-null    float64
 5   activity_type     360 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 19.7+ KB

In [7]:
df[df[["heart_rate", "calories_burned"]].isna().astype(int).sum(axis=1) > 0]

,user_id,timestamp,cumulative_steps,heart_rate,calories_burned,activity_type
7,1,2025-04-10 07:00:00,68,56,NaN,resting
43,1,2025-04-11 15:00:00,6661,87,NaN,walking
148,2,2025-04-12 20:00:00,7117,86,NaN,cycling
158,3,2025-04-10 06:00:00,47,54,NaN,resting
178,3,2025-04-11 01:00:00,73,51,NaN,resting
182,3,2025-04-11 05:00:00,73,48,NaN,resting
186,3,2025-04-11 09:00:00,415,78,NaN,walking
193,3,2025-04-11 16:00:00,3784,54,NaN,resting
225,4,2025-04-10 00:00:00,0,58,NaN,resting
264,4,2025-04-11 14:00:00,6318,117,NaN,running

In [8]:
df.dropna(subset=['heart_rate', 'calories_burned'], inplace=True)

In [9]:
users_med = df.groupby("user_id")["heart_rate"].transform("median")
users_med

0      65.5
1      65.5
2      65.5
3      65.5
4      65.5
       ...
365    66.5
366    66.5
367    66.5
368    66.5
369    66.5
Name: heart_rate, Length: 350, dtype: float64

In [10]:
df["user_id"].unique()

array([1, 2, 3, 4, 5])

In [11]:
x = df["heart_rate"]
cond = (df["heart_rate"] >= 40) & (df["heart_rate"] <= 200)
df["heart_rate"] = x.where(cond, users_med)

In [12]:
filt = df["heart_rate"] != x
x[filt]

6      208
74      26
111     30
152     36
220    209
360    207
Name: heart_rate, dtype: int64

In [13]:
df[filt]

,user_id,timestamp,cumulative_steps,heart_rate,calories_burned,activity_type
6,1,2025-04-10 06:00:00,24,65.5,21.76,resting
74,1,2025-04-12 21:00:00,8056,65.5,73.65,running
111,2,2025-04-11 10:00:00,571,66.0,30.71,resting
152,3,2025-04-10 00:00:00,0,62.0,18.16,resting
220,3,2025-04-12 19:00:00,3867,62.0,14.44,resting
360,5,2025-04-12 14:00:00,5290,66.5,50.43,walking

In [14]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 369
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           350 non-null    int64
 1   timestamp         350 non-null    datetime64[ns]
 2   cumulative_steps  350 non-null    int64
 3   heart_rate        350 non-null    float64
 4   calories_burned   350 non-null    float64
 5   activity_type     350 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 19.1+ KB

In [16]:
df["date"] = df["timestamp"].dt.date
df["hour"] = df["timestamp"].dt.hour

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 369
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           350 non-null    int64
 1   timestamp         350 non-null    datetime64[ns]
 2   cumulative_steps  350 non-null    int64
 3   heart_rate        350 non-null    float64
 4   calories_burned   350 non-null    float64
 5   activity_type     350 non-null    object
 6   date              350 non-null    object
 7   hour              350 non-null    int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(2)
memory usage: 23.2+ KB

In [18]:
df.head()

,user_id,timestamp,cumulative_steps,heart_rate,calories_burned,activity_type,date,hour
0,1,2025-04-10 00:00:00,0,57.0,25.23,resting,2025-04-10,0
1,1,2025-04-10 01:00:00,0,52.0,0.58,resting,2025-04-10,1
2,1,2025-04-10 02:00:00,0,60.0,17.07,resting,2025-04-10,2
3,1,2025-04-10 03:00:00,0,51.0,15.10,resting,2025-04-10,3
4,1,2025-04-10 04:00:00,0,64.0,35.45,resting,2025-04-10,4

In [19]:
df.sort_values(by=["user_id", "timestamp"], inplace=True)
df["steps_this_hour"] = df.groupby(["user_id", "date"])["cumulative_steps"].diff().fillna(0)

In [20]:
df.iloc[50:100]

,user_id,timestamp,cumulative_steps,heart_rate,calories_burned,activity_type,date,hour,steps_this_hour
57,1,2025-04-12 04:00:00,0,58.0,18.43,resting,2025-04-12,4,0.0
58,1,2025-04-12 05:00:00,0,56.0,13.58,resting,2025-04-12,5,0.0
59,1,2025-04-12 06:00:00,48,54.0,0.00,resting,2025-04-12,6,48.0
60,1,2025-04-12 07:00:00,82,53.0,18.58,resting,2025-04-12,7,34.0
61,1,2025-04-12 08:00:00,1414,118.0,93.53,running,2025-04-12,8,1332.0
62,1,2025-04-12 09:00:00,1434,77.0,48.16,resting,2025-04-12,9,20.0
63,1,2025-04-12 10:00:00,1438,74.0,45.61,resting,2025-04-12,10,4.0
64,1,2025-04-12 11:00:00,2014,95.0,45.38,walking,2025-04-12,11,576.0
65,1,2025-04-12 12:00:00,2503,77.0,47.64,walking,2025-04-12,12,489.0
66,1,2025-04-12 13:00:00,2903,92.0,58.86,walking,2025-04-12,13,400.0
67,1,2025-04-12 14:00:00,3999,113.0,76.81,running,2025-04-12,14,1096.0
68,1,2025-04-12 15:00:00,4036,46.0,8.49,resting,2025-04-12,15,37.0
69,1,2025-04-12 16:00:00,4872,124.0,82.75,running,2025-04-12,16,836.0
70,1,2025-04-12 17:00:00,5813,93.0,65.18,walking,2025-04-12,17,941.0
71,1,2025-04-12 18:00:00,6644,85.0,35.27,walking,2025-04-12,18,831.0
72,1,2025-04-12 19:00:00,6654,57.0,8.03,resting,2025-04-12,19,10.0
73,1,2025-04-12 20:00:00,7220,73.0,35.98,walking,2025-04-12,20,566.0
74,1,2025-04-12 21:00:00,8056,65.5,73.65,running,2025-04-12,21,836.0
75,1,2025-04-12 22:00:00,8063,59.0,30.87,resting,2025-04-12,22,7.0
76,1,2025-04-12 23:00:00,8069,50.0,1.60,resting,2025-04-12,23,6.0
77,2,2025-04-10 00:00:00,0,53.0,15.08,resting,2025-04-10,0,0.0
78,2,2025-04-10 01:00:00,0,56.0,14.89,resting,2025-04-10,1,0.0
79,2,2025-04-10 02:00:00,0,54.0,13.76,resting,2025-04-10,2,0.0
80,2,2025-04-10 03:00:00,0,58.0,22.13,resting,2025-04-10,3,0.0
81,2,2025-04-10 04:00:00,27,60.0,30.63,resting,2025-04-10,4,27.0
82,2,2025-04-10 05:00:00,50,64.0,40.77,resting,2025-04-10,5,23.0
83,2,2025-04-10 06:00:00,68,61.0,26.59,resting,2025-04-10,6,18.0
84,2,2025-04-10 07:00:00,114,43.0,1.89,resting,2025-04-10,7,46.0
85,2,2025-04-10 08:00:00,116,72.0,36.28,resting,2025-04-10,8,2.0
86,2,2025-04-10 09:00:00,1715,103.0,49.10,running,2025-04-10,9,1599.0
87,2,2025-04-10 10:00:00,1840,111.0,79.82,cycling,2025-04-10,10,125.0
88,2,2025-04-10 11:00:00,1992,103.0,66.48,cycling,2025-04-10,11,152.0
89,2,2025-04-10 12:00:00,2575,81.0,36.56,walking,2025-04-10,12,583.0
90,2,2025-04-10 13:00:00,2607,49.0,20.82,resting,2025-04-10,13,32.0
91,2,2025-04-10 14:00:00,3157,77.0,29.78,walking,2025-04-10,14,550.0
92,2,2025-04-10 15:00:00,4110,72.0,43.37,walking,2025-04-10,15,953.0
93,2,2025-04-10 16:00:00,4143,80.0,42.70,resting,2025-04-10,16,33.0
94,2,2025-04-10 17:00:00,4179,61.0,19.33,resting,2025-04-10,17,36.0
95,2,2025-04-10 18:00:00,4289,106.0,82.69,cycling,2025-04-10,18,110.0
96,2,2025-04-10 19:00:00,4994,72.0,28.50,walking,2025-04-10,19,705.0
97,2,2025-04-10 20:00:00,5797,86.0,41.17,walking,2025-04-10,20,803.0
98,2,2025-04-10 21:00:00,6252,96.0,77.79,walking,2025-04-10,21,455.0
99,2,2025-04-10 22:00:00,6252,49.0,19.36,resting,2025-04-10,22,0.0
100,2,2025-04-10 23:00:00,6252,56.0,18.86,resting,2025-04-10,23,0.0
101,2,2025-04-11 00:00:00,17,59.0,29.55,resting,2025-04-11,0,0.0
102,2,2025-04-11 01:00:00,17,61.0,21.22,resting,2025-04-11,1,0.0
103,2,2025-04-11 02:00:00,17,51.0,13.90,resting,2025-04-11,2,0.0
104,2,2025-04-11 03:00:00,17,56.0,14.34,resting,2025-04-11,3,0.0
105,2,2025-04-11 04:00:00,17,58.0,11.37,resting,2025-04-11,4,0.0
106,2,2025-04-11 05:00:00,17,61.0,15.52,resting,2025-04-11,5,0.0

In [21]:
df["steps_this_hour"] = df["steps_this_hour"].apply(lambda x: max(x, 0))

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 369
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           350 non-null    int64
 1   timestamp         350 non-null    datetime64[ns]
 2   cumulative_steps  350 non-null    int64
 3   heart_rate        350 non-null    float64
 4   calories_burned   350 non-null    float64
 5   activity_type     350 non-null    object
 6   date              350 non-null    object
 7   hour              350 non-null    int32
 8   steps_this_hour   350 non-null    float64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(2), object(2)
memory usage: 26.0+ KB

In [23]:
def fun(x):
    if (x < 100):
        return "low"
    if (x < 1000):
        return "medium"
    return "high"

df["activity_intensity"] = df["steps_this_hour"].apply(fun)

In [24]:
df["heart_rate"] = df["heart_rate"].round(2)
df["calories_burned"] = df["calories_burned"].round(2)

In [25]:
out = [
    "user_id",
    "timestamp",
    "cumulative_steps",
    "heart_rate",
    "calories_burned",
    "activity_type",
    "date",
    "hour",
    "steps_this_hour",
    "activity_intensity"
]

df[out].sort_values(by=["user_id", "timestamp"]).to_csv("res.csv", sep=",", index=False)